<div>
  <br />
  <br />
  <br />
  <br />
  <home-text>I am Data Engineer by trade, living in New Jersey. I work at <a href="https://www.blackrock.com" target="_blank">BlackRock</a>, the world's largest asset management firm, in NYC. I am on the Core Data team solving data infrastructure and scaling issues. </home-text>
  <br />
  <br />
  <home-text>My open source code is available on <a href="http://github.com/arjunrao87" target="_blank">Github</a>. My work profile is available on <a href="https://www.linkedin.com/in/arjunrao87" target="_blank">LinkedIn</a>. I post photos of my adventures around the world on my <a href="https://www.instagram.com/raoarjun/" target="_blank">Instagram</a> and <a href="https://500px.com/arjunrao87" target="_blank">500px</a>. Some of my impromptu thoughts spill over to <a href="https://www.twitter.com/raoarjun" target="_blank">Twitter</a>. </home-text>
  <br />
  <br />
  <home-text>In my free time I am either coding my personal projects, working out at the gym, wondering where to travel next, reading books on science and philosophy or thinking of ways to make the <a href="http://rambots4571.com/" target="_blank">Rambots</a> a better robotics team.</home-text>
</div>
