<div>
  <h1>{{ page.title }}</h2>
  <p>{{ page.date | date: '%B %d, %Y' }}</p>
{{ content }}
<div align="right">
  <ul class="share-buttons">
    <li> Share : </li>
    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.arjunrao.co&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="/assets/img/Facebook.png"></a></li>
    <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.arjunrao.co&text=:%20http%3A%2F%2Fwww.arjunrao.co&via=raoarjun" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="/assets/img/Twitter.png"></a></li>
    <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.arjunrao.co" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Google+" src="/assets/img/Google+.png"></a></li>
    <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fwww.arjunrao.co&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img alt="Submit to Reddit" src="/assets/img/Reddit.png"></a></li>
  </ul>
</div>
{% if page.comments %}
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//www-arjunrao-co.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
</div>
