<div>
  <br />
  <br />
  <div style="width:100%;text-align:center">
    <div class="card card-outline-secondary mb-3 text-center">
        <h2 class="card-block"><h2-item>Engineering</h2-item></h2>
      </div>
  </div>
  <br />
  <div class="card-columns" >
    <div class="card text-center">
      <div class="card-block">
        <a href="https://play.google.com/store/search?q=org.tnc.theone&hl=en" target="_blank"><h4 class="card-title">The One</h4></a>
        <p class="card-text">Great recommendations, no confusion.The One aims at simplifying choosing a food/drink/cafe spot. Selecting a place can be tough and The One helps take the stress out of decision making.</p>
        <p class="card-text"><small class="text-muted">Interesting Fact : First Google Play deployment</small></p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-block">
        <a href="https://chrome.google.com/webstore/detail/random-cat-gif/mgoklnodackhcoapoigopplnapkhbdaa" target="_blank"><h4 class="card-title">Random Cat GIF</h4></a>
        <p class="card-text">Google Chrome extension to show cat gifs on demand, because who doesn't want to ?</p>
        <p class="card-text"><small class="text-muted">Interesting Fact : There are over 1000 active users</small></p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-block">
        <a href="https://github.com/arjunrao87/MMM-motivational-quotes" target="_blank"><h4 class="card-title">Magic Mirror Motivational Quotes</h4></a>
        <p class="card-text">Provides motivational quotes on the Magic Mirror platform</p>
        <p class="card-text"><small class="text-muted">Interesting Fact : First solo hardware project</small></p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-block">
        <a href="https://github.com/arjunrao87/bikeshare" target="_blank"><h4 class="card-title">Bay Area Bike Share</h4></a>
        <p class="card-text">Uses bootcards and React to provide an interactive user experience to determine availability of bikes, at designated stops, in the Bay Area bike share program.</p>
        <p class="card-text"><small class="text-muted">Interesting Fact : First app using React</small></p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-block">
        <a href="https://github.com/arjunrao87/wdwg" target="_blank"><h4 class="card-title">Where Do We Go? ( WDWG )</h4></a>
        <p class="card-text">Built on the premise that choice is overrated, WDWG helps pick a watering hole given 3 parameters ( totally optional ) of distance, cost and type of libation.</p>
        <p class="card-text"><small class="text-muted">Interesting Fact : Built using Meteor</small></p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-block">
        <a href="https://github.com/arjunrao87/DocumentaryServer" target="_blank"><h4 class="card-title">Documentary Bot</h4></a>
        <p class="card-text">Provide an easy conversational interface to pick a documentary to watch</p>
        <p class="card-text"><small class="text-muted">Interesting Fact : Uses Wit.ai and FB Messenger</small></p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-block">
        <a href="https://github.com/arjunrao87/Smaran" target="_blank"><h4 class="card-title">Smaran</h4></a>
        <p class="card-text">Android app to create reminders for events like birthdays and anniversaries</p>
        <p class="card-text"><small class="text-muted">Interesting Fact : Yes, I know Google Calendar is a thing</small></p>
      </div>
    </div>
  </div>
  <br />
  <div style="width:100%;text-align:center">
    <div class="card card-outline-secondary mb-3 text-center">
        <h2 class="card-block"><h2-item>Publications</h2-item></h2>
    </div>
  </div>
  <br />
  <div class="card-columns-solo" >
    <div class="card text-center">
      <div class="card-block">
        <a href="http://www.ece.rutgers.edu/~marsic/books/SE/projects/ParkingLot/2011_MS-Thesis_ArjunRao.pdf" target="_blank"><h4 class="card-title">Masters Thesis</h4></a>
        <p class="card-text">Improving Parking Garage Efficiency using Reservation Optimization Techniques</p>
      </div>
    </div>
  </div>
  <br />
  <div style="width:100%;text-align:center">
    <div class="card card-outline-secondary mb-3 text-center">
        <h2 class="card-block"><h2-item>Community</h2-item></h2>
    </div>
  </div>
  <br />
  <div class="card-columns-duo" >
    <div class="card text-center">
      <div class="card-block">
        <a href="https://github.com/frc4571" target="_blank"><h4 class="card-title">Lead Autonomous Mentor</h4></a>
        <p class="card-text">Creator and leader of the Programming team at the <a href="https://github.com/frc4571" target="_blank">Rambots</a>.</p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-block">
        <a href="http://www.firstinspires.org/resource-library/frc/judge" target="_blank"><h4 class="card-title">FRC Judge</h4></a>
        <p class="card-text">Judged at the FRC NYC Regional in 2016</p>
      </div>
    </div>
  </div>
  <br />
  <div style="width:100%;text-align:center">
    <div class="card card-outline-secondary mb-3 text-center">
        <h2 class="card-block"><h2-item>Certifications</h2-item></h2>
      </div>
  </div>
  <br />
  <div class="card-columns-duo" >
    <div class="card text-center">
      <div class="card-block">
        <a href="https://generalassemb.ly/education/product-management" target="_blank"><h4 class="card-title">Product Management</h4></a>
        <p class="card-text">Certified at General Assembly</p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-block">
        <a href="https://www.fluentcity.com/language/new-york/spanish/#Beginner" target="_blank"><h4 class="card-title">Spanish</h4></a>
        <p class="card-text">Certified at Fluent City</p>
      </div>
    </div>
  </div>
  <br />
</div>
