<div>
  <br />
  <h2 style="text-align: center;">Favorite Podcasts</h2>
  <br />  <br />
  <div class="table-responsive-vertical shadow-z-1">
      <table id="table" class="table table-hover table-mc-light-blue" style="width:75%" align = 'center'>
      <thead>
        <tr align='center'>
          <th style="text-align:center;" >Podcast</th>
          <th style="text-align:center;">Episode</th>
          <th style="text-align:center;" >Topic</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td align='center' data-title="Name">The Knowledge Project Podcast</td>
          <td align='center' data-title="Link">
            <a href="https://www.farnamstreetblog.com/2017/02/naval-ravikant-reading-decision-making/" target="_blank">Naval Ravikant</a>
          </td>
          <td align='center' data-title="Status">Reading, Decision Making, Habits</td>
        </tr>
        <tr>
          <td align='center' data-title="Name">Recode Decode</td>
          <td align='center' data-title="Link">
            <a href="https://www.recode.net/2017/6/12/15779424/scott-galloway-nyu-google-facebook-uber-apple-snapchat-netflix-new-york-times-kara-swisher-podcast" target="_blank">Scott Galloway</a>
          </td>
          <td align='center' data-title="Status">Brand Strategy</td>
        </tr>
        <tr>
          <td align='center' data-title="Name">The Knowledge Project Podcast</td>
          <td align='center' data-title="Link">
            <a href="https://www.farnamstreetblog.com/2017/06/rory-sutherland-podcast/" target="_blank">Rory Sutherland</a>
          </td>
          <td align='center' data-title="Status">The Psychology of Advertising, Complex Evolved Systems</td>
        </tr>
        <tr>
          <td align='center' data-title="Name">Masters of Scale</td>
          <td align='center' data-title="Link">
            <a href="https://art19.com/shows/masters-of-scale/episodes/2d08f85a-baf3-48b4-8815-16fa295037e6/" target="_blank">Brian Chesky</a>
          </td>
          <td align='center' data-title="Status">Creating a 11 star experience</td>
        </tr>
        <tr>
          <td align='center' data-title="Name">The Side Hustle Project</td>
          <td align='center' data-title="Link">
            <a href="https://www.ryrob.com/sales-advice-steli-efti-interview/" target="_blank">Steli Efti</a>
          </td>
          <td align='center' data-title="Status">Getting outside your comfort zone</td>
        </tr>
        <tr>
          <td align='center' data-title="Name">The James Altucher Show</td>
          <td align='center' data-title="Link">
            <a href="https://jamesaltucher.com/2017/03/tony-robbins/" target="_blank">Tony Robbins</a>
          </td>
          <td align='center' data-title="Status">In pursuit of your why</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br /><br />
  <h2 style="text-align: center;">Tech and VC Blogs</h2>
  <br /><br />
  <div class="grid">
    <a href="https://news.ycombinator.com/" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content">Hacker News</div></div></a>
    <a href="https://www.medium.com" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content">Medium</div></div></a>
    <a href="https://www.producthunt.com" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content">Product Hunt</div></div></a>
    <a href="https://www.500ish.com" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content">500ish</div></div></a>
    <a href="http://www.paulgraham.com/articles.html" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content">Paul Graham</div></div></a>
    <a href="http://blog.samaltman.com/" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content">Sam Altman</div></div></a>
    <a href="https://www.avc.com" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content">Fred Wilson</div></div></a>
    <a href="http://www.ben-evans.com" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content">Ben Evans</div></div></a>
    <a href="http://www.feld.com" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content">Brad Feld</div></div></a>
    <a href="https://www.bothsidesofthetable.com" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content">Mark Suster</div></div></a>
    <a href="https://www.hunterwalk.com" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content">Hunter Walk</div></div></a>
    <a href="http://www.firstround.com/review" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content">First Round Review</div></div></a>
    <a href="http://www.tomtunguz.com" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content">Tom Tunguz</div></div></a>
    <a href="http://www.thebarefootvc.com" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content">Jalak Jobanputra</div></div></a>
    <a href="http://www.christophjanz.blogspot.com" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content">Christoph Janz</div></div></a>
    <a href="https://www.thisisgoingtobebig.com" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content"><responsive-p>Charlie O' Donnell</responsive-p></div></div></a>
    <a href="http://www.english.martinvarsavsky.net" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content">Martin Varsavsky</div></div></a>
    <a href="https://www.500hats.com" target="_blank"><div class="grid-item grid-item--width2 grid-item--height2"><div class="grid-center-content">Dave McClure</div></div></a>
  </div>
  <br />
  <h2 style="text-align: center;">Podcasts</h2>
  <br /><br />
  <div class="grid">
    <a href="https://www.recode.net/recode-decode-podcast-kara-swisher" target="_blank"><div class="grid-item2 grid-item2--width2 grid-item2--height2"><div class="grid-center-content">Recode Decode</div></div></a>
    <a href="http://freakonomics.com/" target="_blank"><div class="grid-item2 grid-item2--width2 grid-item2--height2"><div class="grid-center-content">Freakonomics</div></div></a>
    <a href="https://blog.ycombinator.com/category/podcast/" target="_blank"><div class="grid-item2 grid-item2--width2 grid-item2--height2"><div class="grid-center-content">YCombinator</div></div></a>
    <a href="http://a16z.com/podcasts/" target="_blank"><div class="grid-item2 grid-item2--width2 grid-item2--height2"><div class="grid-center-content">A16Z</div></div></a>
    <a href="http://www.thetalkingmachines.com/" target="_blank"><div class="grid-item2 grid-item2--width2 grid-item2--height2"><div class="grid-center-content">Talking Machines</div></div></a>
    <a href="https://www.producthunt.com/radio" target="_blank"><div class="grid-item2 grid-item2--width2 grid-item2--height2"><div class="grid-center-content">Product Hunt</div></div></a>
  </div>
</div>
