<!DOCTYPE html>
<html>
	<head>
		<title>The One</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/theone.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="content">
							<div class="inner">
								<h1>The One - Privacy</h1>
								<p>This app does not need any privacy permissions that the app has been marked to have. The only reason the app was marked to have those permissions was because of the way the app has been bundled using Expo. The only permission the app needs is to use your current location to help find the best place to recommend to you. This app does not need access to your camera, contacts or any other phone resource.</p>
							</div>
						</div>
					</header>
			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>
