<!DOCTYPE html>
<html>
	<head>
		<title>The One</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/theone.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="content">
							<div class="inner">
								<h1>The One</h1>
								<p>A no-frills app designed by <a href="http://www.arjunrao.co" target="_blank">Arjun Rao</a> based on the premise that choice is overrated. <br />
								The science behind this is available at <a href="https://www.ted.com/talks/barry_schwartz_on_the_paradox_of_choice" target="_blank">The Paradox of Choice</a> </p>
							</div>
						</div>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<p > <a href="http://www.arjunrao.co/theone" target="_blank">iPhone</a> &nbsp;&nbsp;&nbsp;&nbsp;  <a href="http://www.arjunrao.co/theone" target="_blank">Android</a></p>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>
