<div>
  <!-- To alter the image of the world map, use AMCharts ( https://jsfiddle.net/naua204y/ ) -->
	<!-- You will need to reselect the countries and then take a screenshot and then overwrite the image /img/world-map.png -->
  	<div class="row">
	  	<div class="box">
		    <div class="col-lg-12 text-center">
		    	<p><strong><u> Adventures </u></strong></p>
		    	<div>
            <img src="/assets/img/world-map.png" alt="World map"/>
          </div>
		    </div>
		</div>
	</div>

	<!-- To alter this section, revisit timeline.js ( https://timeline.knightlab.com/ ) -->
	<!-- The spreadsheet is already stored in your sheets folder. Look for timeline titled sheet and modify that. You dont need to do anything else.-->
	<div class="row">
	  	<div class="box">
	  		<div class="col-lg-12 text-center">
	  			<p><strong><u> Timeline </u></strong></p>
	  			<div>
	  				<iframe src='//cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1lCWDAjNlRAMerFE4HMtZCtZ69NsEDtOn_4jEQaFLAP0&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' frameborder='0'></iframe>
	  			</div>
		  	</div>
	  	</div>
	</div>
</div>
